<!DOCTYPE html>
<html lang="id">
<head>
    {# meta #}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {# meta #}
    <title>{% block judul %}{% endblock %} - {{ app_name }}</title>
    {# font #}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" rel="stylesheet">
    {# font #}
    {# css #}
    <link href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/adminlte.min.css') }}" rel="stylesheet">
    {# css #}
</head>
{% block badan %}
{% endblock %}
</html>
