{% block badan %}
    <body class="hold-transition login-page">
    {% block halaman %}
    {% endblock %}
    {# js #}
    {% block js %}
        <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/adminlte.min.js') }}"></script>
    {% endblock %}
    {# js #}
    </body>
{% endblock %}
